* {
	font-family: Arial, sans-serif;
	font-size:13px;
}
#topright {
	position:relative;
	vertical-align: middle;
	text-align: middle;
	float:right;
	padding: 0px 38px;
}
a {
	text-decoration:none;
	color:#000;
	font-size: small;
	opacity: .75;
}
a:hover {
	text-decoration: underline;
}
#speciallink {
	color:blue;
	opacity: 1;
}
#signin {
	background-color:#4285f4;
	color:#fff;
	font-weight:bold;
	border-radius:2px;
	border:transparent solid 1px;
	padding:0px 12px;
	line-height:26px;
	outline:none;
	width:71px;
}
#header {
	margin-top:8px;
	height:30px;
	width:1366px;
	position:absolute;
}
p {
	position:relative;
	font-size:small;
}
.button {
	color:#757575;
	background-color:#f2f2f2;
	margin:11px 4px;
	height:36px;
	width:132px;
	border:1px solid #f2f2f2;
	border-radius:2px;
	font-weight:bold;
	line-height:27px;
	padding:0px 16px;
	text-align:center;
}
#btn2 {
	width:150px;
}
.button:hover {
	color:#222;
	border:1px solid #d9d9d9;
}
 #middle {
 	position: absolute;
	margin-top:90px;
	height:378px;
	width:1354px; 
} 
#footer {
	bottom:0px;
	left:0px;
	position:absolute;
	line-height:40px;
	width:100%;
	margin-top:592px;
	background-color:#e4e4e4;
	opacity: .75;
	font-size:14px;
}
#bottomright {
	padding-right:30px;
}
#bottomleft {
	padding-left:30px;
}
#searchbox {
	width:42.5%;
	line-height:36px;
	margin-top:25px;
	border:solid #d9d9d9 1px;
	border-radius:0;
	font-size:14px;
	background-color:transparent;
	color:#000;
}
#searchbox:hover {
	border-color:gray;
}
#searchbox:focus {
	border-color:blue;
}